@import '../../styles/variables.css';
@import '../../styles/buttons.css';

.detail-page {
    display: block;
    margin: 20px auto;
    text-align: center;
    color: #333333;
    font-family: Arial;

    .title {
        font-weight: normal;
    }

}

