@import '../../styles/variables.css';
@import '../../styles/buttons.css';

.home-page {
    display: block;
    width: 600px;
    margin: 20px auto;
    text-align: center;
    color: #333333;
    font-family: Arial;

    a, a:visited, a:hover, a:active {
        color: #333333;
        text-decoration: none;
    }

    .title {
        font-weight: normal;
    }

    .item-list {
        list-style-type: none;
        border: 1px solid #cccccc;
        padding-left: 0;
        border-radius: 5px;
    }

    .item {
        padding: 20px;
        border-bottom: 1px solid #cccccc;
        text-align: left;

        &:hover {
            background: #efefef;
            cursor: pointer;
        }
    }


    .loading {
        height: 200px;
        text-align: center;
        padding-top : 75px;
    }
}

