@import './variables.css';

.ct-action {
    background-color: var(--white);
    outline: none;
    padding: 15px 25px;
    border: 1px solid var(--green);
    margin: 0 10px;
    box-shadow: 0px -1px 2px -1px rgba(255, 255, 255, 0.75);
    color: var(--green);
    font-weight: normal;
    cursor: pointer;
    border-radius: 3px;
    text-decoration: none;
    font-size: var(--font-size-medium);
    text-transform: capitalize;

    &:hover {
        background: lighten(var(--green), 50%);
        text-decoration: underline;
    }
}
.ct-action-primary {
    color: var(--white);
    background-color: var(--green);
    border: 1px solid darken(var(--green), 5%);

    &:hover {
        background-color: darken(var(--green), 5%);
    }
}
a.ct-action {
    &:hover {
        color: var(--green);
    }
}
a.ct-action-primary {
    &:hover {
        color: var(--white);
    }
}
.ct-action-secondary {
    color: var(--white);
    background-color: var(--lighterBlue);
    border-color: var(--lighterBlue);
    &:hover {
         background-color: darken(var(--lighterBlue), 5%);
         color: var(--white);
    }
}
.ct-action-small {
    padding: 5px 10px;
    font-size: 85%;
}
.ct-action-blue {
    color: var(--lighterBlue);
    border-color: var(--lighterBlue);
    &:hover {
        background-color: lighten(var(--lighterBlue), 60%);
        color: var(--white);
    }
}
a.ct-action-blue {
    &:hover {
        color: var(--lighterBlue);
    }
}
.ct-action-big {
    border-radius: 25px;
}
