

:global .page-transition-enter {
    opacity: 0.01;
    transition: opacity .5s ease-in;
}

:global .page-transition-enter.page-transition-enter-active {
    opacity: 1;
}

:global .page-transition-leave {
    opacity: 1;
    transition: opacity .5s ease-in;
}

:global .page-transition-leave.page-transition-leave-active {
    opacity: 0;
}

.back-link {
    &:before {
        content: '\279c';

    }
}

a, a:visited, a:hover, a:active {
    color: #333333;
    text-decoration: none;
}
