
/*
 * Fonts
 *
 */

:root{
    --font-georgia     : Georgia, Times, "Times New Roman", serif;
    --font-arial       : Arial, "Helvetica Neue", Helvetica, sans-serif;
    --font-SourceSans : "Source Sans Pro", sans-serif;

    --defaultFontFamilyLight	: var(--font-robotoLight);
    --defaultFontFamilyBold		: var(--font-robotoBold);
    --defaultFontFamilyTitle	: var(--font-roboto);
    --defaultFontFamily			: var(--font-roboto);

    /* Text Colors*/
    --textNormal		: var(--textBlack);
    --textLight			: var(--offBlack);
    --textLink			: var(--linkBlue);
    --textMute			: var(--darkGray);
    --textContrast		: var(--white);
    --bodyBG			: var(--white);



    --defaultBodyFontSize		: 14px;
    --font-size-title			: 26px;
    --font-size-small			: 12px;
    --font-size-medium			: 14px;
    --font-size-large			: 16px;
    --font-size-extralarge		: 18px;

    --defaultLineHeight			: 1.4;

    /* Colors */
    --white				: #ffffff;
    --black				: #000000;
    --textBlack			: #333333;
    --textOffBlack		: #909090;
    --offBlack			: #323232;
    --gray				: #666666;
    --lightGray			: #d0d0d0;
    --lighterGray		: #F3F3F3;
    --darkGray			: #b7b7b7;
    --linkBlue			: #027CD5;
    --lightBlue			: #0099E5;
    --backgroundGray	: #f6f6f6;
    --borderGray		: #cccccc;
    --headerColor		: #f3f3f3;   /*#1B7BBC;*/
    --statusGreen		: #4BB550;
    --red				: #F44336;
    --yellow			: #FFBB35;
    --brightYellow      : #FFFF00;
    --pink              : #FF4081;
    --brightPink        : #F50057;
    --blue			    : #425D89;
    --lighterBlue       : #00B0FF;
    --green             : #34BF49;
}








